/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

:root {

  --color-bg: #112447;
  --color-logo_one: #FFB562;
  --color-logo_two: #3AB0FF;
  --color-accent_one: #E8AA42;
  --color-accent_two: #1F4690;
  --color-text_darkbg: #ffff;
  --color-text_lightbg: #0000;

}

* {
  font-family: 'Baloo Thambi 2', cursive;
} */
